<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Lista de Postagem
                    <a [routerLink]="['/posts/new']" class="btn btn-outline-primary">Novo</a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Usuário</th>
                                <th>Id</th>
                                <th>Título</th>
                                <th>Postagem</th>
                                <th scope="col">Alterar</th>
                                <th scope="col">Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of posts">
                                <td>{{p.userId}}</td>
                                <td>{{p.id}}</td>
                                <td>{{p.title}}</td>
                                <td>{{p.body}}</td>
                                <td>
                                    <a [routerLink]="['/posts', p.id]" class="btn btn-outline-primary">Alterar</a>
                                <td>
                                    <button (click)="remover(p)" type="button" class="btn btn-danger">Excluir</button>            
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</div> 