#navbar {
    background-color: #fff !important;
    border-bottom: 1px solid lightgray !important;

}
.navbar-brand {
    padding: 20px 40px;
}

#navbarBreed {
    padding: 20px 30px;
    color: black;
}