<div class="container">
    <form [formGroup]="task">
        <div class="form-group">
                <label for="description"></label>
            <input type="text" name="description" formControlName="description" class="form-control">
        </div>    
            <button *ngIf="!task.get('_id').value" (click)="adicionar()" [disabled]="!task.valid" type="button" class="btn btn-primary">Adicionar</button>  
            <button *ngIf="task.get('_id').value" (click)="atualizar()" [disabled]="!task.valid" type="button" class="btn btn-primary">Atualizar</button>
    </form>
</div>