<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Informações de Postagem</div>
                <div class="card-body">
                    <form>
                        <input type="hidden" name="id" [(ngModel)]="postagem.id" class="form-control" placeholder="Id">
                        <div class="form-group"> 
                            <input type="text" name="userId" [(ngModel)]="postagem.userId" class="form-control" placeholder="Id Usuário">
                        </div>  
                        <div class="form-group">
                            <input type="text" name="title" [(ngModel)]="postagem.title" class="form-control" placeholder="Título">
                        </div>   
                        <div class="form-group">
                            <input type="text" name="body" [(ngModel)]="postagem.body" class="form-control" placeholder="Texto">
                        </div>    
                        <button *ngIf="postagem!.id == null" (click)="adicionar()" type="button" class="btn btn-primary">Adicionar</button>  
                        <button *ngIf="postagem.id" (click)="atualizar()" type="button" class="btn btn-primary">Atualizar</button>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div> 