<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Lista de Postagem
                    <a [routerLink]="['/todo/new']" class="btn btn-outline-primary">Novo</a>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Descrição</th>
                                <th scope="col">Alterar</th>
                                <th scope="col">Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let t of tarefas">
                                <td [ngClass]="t.done ? 'azul' : 'vermelho'">{{t.description}}</td>
                                <td>
                                    <a [routerLink]="['/todo', t.id]" class="btn btn-outline-primary">Alterar</a>
                                </td>
                                <td>
                                    <button (click)="remover(t)" type="button" class="btn btn-danger">Excluir</button>            
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</div> 