<div class="container">
    <form [formGroup]="task">
        <div class="form-group">
                <label for="description"></label>
            <input type="text" name="description" formControlName="description" class="form-control">
        </div>    
            <button *ngIf="!task.get('_id').value" (click)="adicionar()" [disabled]="!task.valid" type="button" class="btn btn-primary">Adicionar</button>  
            <button *ngIf="task.get('_id').value" (click)="atualizar()" [disabled]="!task.valid" type="button" class="btn btn-primary">Atualizar</button>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tarefas">
                <td [ngClass]="t.done ? 'azul' : 'vermelho'">{{t.description}}</td>
                <td>
                    <button (click)="editar(t)" type="button" class="btn btn-outline-primary">Alterar</button>            
                </td>
                <td>
                    <button (click)="remover(t)" type="button" class="btn btn-danger">Excluir</button>            
                </td>
            </tr>
        </tbody>
    </table>
</div>